<!-- BriefBio -->
<section class="page-section" id="{{ site.data.sitetext.briefbio.section | default: "briefbio" }}" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <br><br><br>
<h2 class="section-heading text-uppercase">Biography</h2>
          <br>
          <div class="large text-muted" align="justify">
              {{"I am currently a Master student in Life science Engineering at EPFL with a focus on Computation biology." | markdownify }}
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End BriefBio -->
